<div >
    <mat-card>
        <mat-card-content>
            <img [src]="product.imgPath">
            <p>{{product.id}}</p>
            <p>{{product.name}}</p>
            <p>{{product.value}}</p>
        </mat-card-content>
        <mat-card-footer style="padding: 20px;" fxLayoutAlign="space-between">
            <button
            *ngIf="!onCart"
            matTooltip="Add to cart"
            style="margin-left: auto"
            mat-raised-button
            class="success"
            (click)="addToCart(product)"
          >
            <mat-icon>add</mat-icon> <span>Add to cart</span>
          </button>
          <button
          *ngIf="onCart"
            matTooltip="Remove from cart"
            style="margin-left: auto"
            mat-raised-button
            class="danger"
            (click)="removeToCart(product)"
          >
            <mat-icon>delete</mat-icon> <span>Remove from cart</span>
          </button>

        </mat-card-footer>
    </mat-card>
</div>