<nav>
  <mat-toolbar>
    <span *ngIf="isLogged">
      <button mat-icon-button routerLink="Product/home">
        <mat-icon matTooltip="Home">home</mat-icon>
      </button>
    </span>

    <span class="navButton">
      <button *ngIf="!isLogged" mat-button routerLink="User/login">
        Login
      </button>

  
    </span>

    <span class="example-spacer"></span>
    <span *ngIf="isLogged">
      <button [matMenuTriggerFor]="menuUser" mat-button>
        <mat-icon> account_circle </mat-icon> {{ userInf?.name }}
      </button>
      <mat-menu #menuUser="matMenu" matTooltip="">
        <!-- <button mat-menu-item>My account</button> -->
        <button mat-menu-item routerLink="PurchaseOrder/list">Purchase Orders</button>
        <!-- <button mat-menu-item >Manage users</button> -->
        <button mat-menu-item routerLink="" (click)="logOut()">LogOut</button>
      </mat-menu>

      <button
        matBadgePosition="before"
        [matBadge]="countProds"
        (click)="openDialog()"
        mat-icon-button
        class="example-icon favorite-icon"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</nav>